body
{
    scrollbar-color: #444 transparent;
}

a {
    text-decoration: none;
    color: #D30;
}

a:hover {
    color: #F60;
}

a:active {
    color: #D30;
}

button, select, .d3-widget-multiselect
{
    appearance: none;
    color: #000;
    background-color: #DDD;
    border: 1px solid #666;
    border-radius: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

button:hover, select:hover, .d3-widget-multiselect:hover
{
    background-color: #EEE;
}

button:disabled, select:disabled
{
    color: #888;
    background-color: #DDD;
    border-color: #888;
}

select, .d3-widget-multiselect
{
    background-image: url("../images/dropdown.svg");
    background-repeat: no-repeat;
    background-size: 1.5em 1em;
    background-position: right center;
    background-clip: border-box;
    padding-right: 1.5em;
}

select:disabled
{
    background-image: url("../images/dropdown_disabled.svg");
}

.d3-widget-multiselect ul, .d3-widget-searchbar ul, .d3-widget-iconarea
{
    border: 1px solid #666;
    color: #000;
    background-color: #DDD;
}

.d3-widget-entry-selected
{
    color: #FFF;
    background-color: #D60;
}

.d3-widget-multiselect-all-shortcut
{
    margin-bottom: 0.3em;
    font-weight: bold;
}

.d3-widget-searchbar-frozen-value
{
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #CCC;
}

.d3-widget-close-button
{
    font-weight: bold;
    color: #000;
}

.d3-widget-close-button:hover
{
    color: #EEE;
}

.d3-widget-close-button:active
{
    color: #888;
}

.d3-widget-iconselect-preview button
{
    padding-left: 10px;
    padding-right: 10px;
}

.d3-widget-iconarea button
{
    margin: 0.3em;
    padding: 0.3em;
}

.d3-widget-iconarea .d3-widget-button-selected
{
    background-color: #AAA;
}

.d3-widget-iconarea .d3-widget-button-selected:hover
{
    background-color: #BBB;
}

#adder-area
{
}

.add-data-source
{
    font-size: 100%;
}

.add-data-source .logo
{
    object-fit: contain;
    vertical-align: text-top;
    height: 1em;
    margin-right: 0.4em;
}

#settings-area
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.settings-box
{
    padding: 1em;
    width: 750px;
    border: 2px solid #888;
    border-radius: 1em;
    background-color: #BBB;
}

.settings-box h1
{
    display: grid;
    grid-template-columns: max-content auto max-content max-content max-content;
    gap: 0.2em;
    align-items: stretch;
    margin-top: 0;
    font-size: 1em;
}

.settings-box h1>span
{
    margin-left: 0.2em;
    font-family: sans-serif;
    font-size: 1.4em;
}

.settings-box .logo
{
    height: 1.4em;
}

.settings-box .add-update-button
{
    float: right;
}

.settings-box .close-button
{
    color: #FFF;
    background-color: #F44;
    font-weight: bold;
}

.settings-box .close-button:hover
{
    background-color: #F77;
}

.settings-box .close-button:active
{
    background-color: #D22;
}

.settings-box form
{
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    column-gap: 10px;
    row-gap: 4px;
}

.settings-box input[type=text]
{
    box-sizing: border-box;
    width: 0;
    min-width: 100%;
}

.settings-box select
{
    text-overflow: ellipsis;
    overflow: hidden;
}

.settings-box .dataset-info
{
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    align-items: start;
    row-gap: 1em;
    column-gap: 1em;
    margin-top: 1em;
    padding-top: 1em;
    font-size: 80%;
    border-top: 1px solid black;
}

.settings-box .dataset-info label
{
    font-weight: bold;
}

.settings-box .dataset-info p
{
    margin-top: 0;
}

#info-area
{
    border: 1px solid black;
    width: 50%;
    min-height: 200px;
}

.aeon-infobox-image
{
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

label>input, label>select
{
    margin-left: 0.5em;
}

.value-box
{
    border: 1px solid #888;
    border-radius: 4px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: #444;
    background-color: #BBB;
    font-family: sans-serif;
    font-size: 80%;
    user-select: none;
}

.value-box-close-icon
{
    margin-left: 0.6em;
    font-weight: bold;
    color: #000;
}

.value-box-close-icon:hover
{
    color: #EEE;
}

.value-box-close-icon!:active
{
    color: #888;
}

.strip-config-area
{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
    column-gap: 1.5em;
}

.strip-config-area .strip-header
{
    font-weight: bold;
}

.strip-config-area label
{
    display: flex;
}

.strip-config-area label select
{
    flex: 1;
}

.calendar-config-area
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5em;
}

.axes-config-area label
{
    margin-right: 1em;
}

text.dataset-bright-color
{
    fill: #000;
}

text.dataset-dark-color
{
    fill: #FFF;
}

.aeon-axis-label
{
    font-size: 80%;
}

.aeon-left-axis.aeon-tick-label, .aeon-right-axis.aeon-tick-label
{
    font-size: 80%;
}

.aeon-context-time-label
{
    font-size: 140%;
    font-weight: bold;
}
